<th:block>
    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#company">KEN的測試網站</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="./" class="pure-menu-link">Project</a></li>
                <li class="pure-menu-item"><a th:href="@{member}" class="pure-menu-link">Members</a></li>
                <li class="pure-menu-item"><a th:href="@{account}" class="pure-menu-link">Accounts</a></li>
                <li class="pure-menu-item"><a th:href="@{subject}" class="pure-menu-link">Subjects</a></li>
                <li class="pure-menu-item"><a th:href="@{journal}" class="pure-menu-link">Journal/Cash</a></li>
                <li class="pure-menu-item"><a th:href="@{report}" class="pure-menu-link">Report</a></li>

                <!--
                <li class="pure-menu-item menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">服務</a>
                </li> -->

                <li class="pure-menu-item hide">
                    <a href="javascript:void(0)" onclick="toResume()" class="pure-menu-link">履歷</a>
                </li>
                <li class="pure-menu-item hide">
                    <a href="javascript:void(0)" onclick="toResume2()" class="pure-menu-link">履歷2</a>
                </li>
                <li class="pure-menu-item hide">
                    <a href="javascript:void(0)" onclick="sendGet('./to_servlet_ajax', {name: 'KEN'})"
                        class="pure-menu-link">Ajax</a>
                </li>
                <li class="pure-menu-item hide">
                    <a href="javascript:void(0)" onclick="sendGet('./cookie')" class="pure-menu-link">Case: Cookie</a>
                </li>
            </ul>
        </div>
    </div>
</th:block>