<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>

    <th:block th:replace="common/import :: css" />
    <th:block th:replace="common/import :: js" />

    <style>
        .img {
            padding: 10px 30px;
        }
    </style>
</head>

<body>
    <th:block th:replace="common/menu" />
    <div id="content">
        <div style="text-align:center;">
            <h1>系統架構</h1>
            <img class="img" src="images\system.png" />
        </div>
        <br />
        <div style="text-align:center;">
            <h1>資料庫架構</h1>
            <img class="img" src="images\database.png" />
        </div>

    </div>
</body>

</html>