<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>履歷頁面</title>
    <th:block th:replace="common_side :: menu_css"></th:block>
    <th:block th:replace="common_side :: menu_js"></th:block>
</head>
<body>
    <th:block th:replace="common_side :: menu"></th:block>
    <div style="border: 1px solid palevioletred;">
        <h1>履歷頁面</h1>
        
        
        
        
        
        
        
        
        </div>
</body>
</html>